<%- include('./../partials/head') -%>
<%- include('./../partials/nav') -%>
<br>
<div class="container">
<div class="card">
    <div class="card-body">
        <form method="POST" action="/categories" enctype="multipart/form-data">
            <p class="h5 text-center py-4"><%= t('category:create_new_category') %></p>

            <div class="md-form">
                <input type="text" name="name" id="name" class="form-control">
                <label for="name" class="font-weight-light"><%= t('category:category_name') %></label>
            </div>

			<div class="md-form form-sm">
				<textarea type="text" name="description" id="description" class="md-textarea form-control"></textarea>
				<label for="description"><%= t('category:description') %></label>
            </div>
            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                   <span class="input-group-text"><%= t('category:cover') %></span>
                </div>
                <div class="custom-file">
                   <input name="cover" type="file" class="custom-file-input" id="cover">
                   <label class="custom-file-label" for="cover"><%= t('category:cover') %></label>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                   <span class="input-group-text"><%= t('category:image') %></span>
                </div>
                <div class="custom-file">
                   <input name="image" type="file" class="custom-file-input" id="image">
                   <label class="custom-file-label" for="image"><%= t('category:image') %></label>
                </div>
            </div>

            <div class="text-center py-4 mt-3">
                <button class="btn btn-outline-cyan btn-sm" type="submit"><%= t('category:create') %></button>
            </div>
        </form>
    </div>

</div>

<br>   
<ul class="list-group">
	<% categories.forEach((category) => { %>
		<%- include('./../partials/category', {category}) -%>				   
	<% }) %>
</ul>

</div>
<%- include('./../partials/end') -%>