<li class="list-group-item">
	<div class="row">
		<div class="col-4">
			<a href="/categories/<%= category._id %>"><%= category.name %></a>
			<br>
			<%= category.description %><br>
		</div>
		<div class="col-6">
			admin:
			<% category.admin.forEach((user) => { %>
				<%= user.name %><br>
			<% }) %>
			subscription:
			<% category.subscription.forEach((user) => { %>
				<%= user.name %>
			<% }) %>		
		</div>
		<div class="col-1">
			<form method="POST" action="/categories/<%= category._id %>/subscribe?_method=PUT"> 
				<% if(currentUser) { %>
					<input type="hidden" name="userID" value= <%= currentUser._id %> />
				<% } %>
				<button type="submit" class="btn btn-sm btn-outline-default">Subscribe</button>
			</form>
		</div>
		<div class="col-1">
			<div class="dropdown">
			  <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  </button>
			  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
					<a data-toggle="modal" data-target="#edit-<%= category._id %>" class="dropdown-item">Edit</a>
					<form method="POST" action="/categories/<%= category._id %>?_method=DELETE">
						<button type="submit" class="dropdown-item">DELETE</button>
					</form>
			  </div>
			</div>			
		</div>
	</div>
</li>



    <form method="POST" action="/categories/<%= category._id %>?_method=PUT" enctype="multipart/form-data">
		<div class="modal fade" id="edit-<%= category._id %>" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="editLabel">edit</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="md-form">
							<input type="text" name="name" id="name-<%= category._id %>" value="<%= category.name %>" class="form-control">
							<label for="name-<%= category._id %>" class="font-weight-light">Category name:</label>
						</div>

						<div class="md-form form-sm">
							<textarea type="text" name="description" id="description-<%= category._id %>" class="md-textarea form-control"><%= category.description %></textarea>
							<label for="description-<%= category._id %>">Description</label>
						</div>
						
						<div class="input-group mb-3">
							<div class="input-group-prepend">
							   <span class="input-group-text">Cover</span>
							</div>
							<div class="custom-file">
							   <input name="cover" type="file" class="custom-file-input" id="cover-<%= category._id %>">
							   <label class="custom-file-label" for="cover-<%= category._id %>">Cover</label>
							</div>
						</div>
			
						<div class="input-group mb-3">
							<div class="input-group-prepend">
							   <span class="input-group-text">Image</span>
							</div>
							<div class="custom-file">
							   <input name="image" type="file" class="custom-file-input" id="image-<%= category._id %>">
							   <label class="custom-file-label" for="image-<%= category._id %>">image</label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary btn-sm" type="submit">Update</button>
						<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
    </form>       