<%- include('./../partials/head') -%>
<%- include('./../partials/nav') -%>
<br><br>
<div class="container">
	<%- include('./../partials/categoryContainer') -%>
	<br>
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-sm-11">About</div>
				<div class="col-sm-1">
					<div class="dropdown">
						<button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						</button>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
							<a data-toggle="modal" data-target="#edit-<%= user._id %>" class="dropdown-item">Edit</a>
							<form method="POST" action="/profile/<%= user._id %>/delete?_method=DELETE">
								<button type="submit" class="dropdown-item">Delete</button>
							</form>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="card-body">		
			<span class="text-muted"> username: </span>
			<%= user.username %><hr>
			<span class="text-muted"> name: </span>
			<%= user.name %><hr>
			<span class="text-muted"> birthday: </span>
			<%= user.birthday %><hr>
			<span class="text-muted"> email: </span>
			<%= user.email %><hr>
			<span class="text-muted"> password: </span>
			<%= user.password %><hr>
			<span class="text-muted"> gender: </span>
			<%= user.sex %>			
		</div>
	</div>
</div>

    <!-- Edit Model -->
	<form method="POST" action="/profile/<%= user._id %>/about?_method=PUT">
		<div class="modal fade" id="edit-<%= user._id %>" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="editLabel">edit</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="md-form">
							<input type="text" name="username" id="username" value="<%= user.username %>" class="form-control">
							<label for="username" class="font-weight-light">Username</label>
						</div>
						<div class="md-form">
							<input type="text" name="name" id="name" value="<%= user.name %>" class="form-control">
							<label for="name" class="font-weight-light">Name</label>
						</div>
						<div class="md-form">
							<input type="text" name="birthday" id="birthday" value="<%= user.birthday %>" class="form-control">
							<label for="birthday" class="font-weight-light">Birthday</label>
						</div>
						<div class="md-form">
							<input type="text" name="email" id="email" value="<%= user.email %>" class="form-control">
							<label for="email" class="font-weight-light">Email</label>
						</div>
						<div class="md-form">
							<input type="text" name="password" id="password" value="<%= user.password %>" class="form-control">
							<label for="password" class="font-weight-light">Password</label>
						</div>
						<div class="md-form">
							<input type="text" name="sex" id="gender" value="<%= user.sex %>" class="form-control">
							<label for="gender" class="font-weight-light">gender</label>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary btn-sm" type="submit">Post</button>
						<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
    </form> 
<%- include('./../partials/end') -%>